.header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header h1 {
    width: 100%;
    text-align: center;
}
.cart {
    display: flex;
    align-items: center;
    /* float: right; */
}

.cart img {
    max-width: 20%;
}

.cart-count {
    margin-left: 20px;
    font-size: 50px;
}

main {
    z-index: 0;
}

.product-type {
    text-align: center;
}

.product-type span {
    font-size: 20px;
    font-weight: bold;
    /* padding-right: 200px; */
}

.product-type button {
    margin: 10px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;
}

.product-type button.active {
    margin: 10px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(185, 238, 241);
    font-weight: bold;
    
}

.product-type button:hover:not(.active) {
    background-color: #ddd;
    font-weight: bold;
}

.products {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    align-items: center;
}

.product {
    display: flex;
    flex-direction: column;
    flex: 1 0 32%;
    /* width: 32%; */
    height: 100%;
    /* margin: 10px; */
    /* justify-self: center; */
    align-items: center;
}

@media (max-width: 600px) {
    .product {
        flex: 1 0 calc(100% - 20px);
    }
}

.product-image, #img {
    max-width: 100%;
    max-height: 100%;
    width: 350px;
    height: 300px;
    background-size: cover !important;
    background-position: center !important;
}

.product-description {
    /* all: initial; */
    display: flex !important;
    justify-content: space-between !important;
}

.name {
    /* max-width: 100%; */
    /* float: left; */
    margin-right: 200px;
}

.price {
    /* float: right; */
    /* padding-right: 100px */
}

.pagination {
    text-align: center;
}

.pagination a {
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
}

.total-popup {
    position: absolute;
    right: 100px;
    top: 80px;
    border: 1px solid #222;
    z-index: 2;
    transform: scale(0);
    padding: 10px;
    /* visibility: hidden; */
}

.total-popup table, table tr, table th, table td {
    border: 1px solid #222;
}


.total {
    display: flex;
    justify-content: space-between;
}

.cart-submit .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
}

.cart-submit .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    text-align: center;
    width: 450px;
    background: rgb(163, 163, 197);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 2;
}

.cart-submit .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;

}

.cart-submit.active .overlay {
    display: block;
}
.cart-submit.active .content {
    transition: all 800ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.total-popup.active {
    transition: all 800ms ease-in-out;
    transform: scale(1);
}

.product-detail {
    position: absolute;
    display: flex;
    color: rgb(74, 180, 212);
    background-color: gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    text-align: center;
    width: 650px;
    padding: 40px;
    border-radius: 20px;
}

.product-detail .img {
    max-width: 100%;
    max-height: 100%;
    width: 350px;
    height: 300px;
    background-size: cover !important;
    background-position: center !important;
}

.product-detail .detail {
    
}
