.header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    width: 100%;
    text-align: center;
}
.cart {
    display: flex;
    align-items: center;
    /* float: right; */
}

.cart img {
    max-width: 20%;
}

.cart-count {
    margin-left: 20px;
    font-size: 50px;
}

.product-type {
    text-align: center;
}

.product-type span {
    font-size: 20px;
    font-weight: bold;
    /* padding-right: 200px; */
}

.product-type button {
    margin: 10px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;
}

.product-type button.active {
    margin: 10px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(185, 238, 241);
    font-weight: bold;
    
}

.product-type button:hover:not(.active) {
    background-color: #ddd;
    font-weight: bold;
}

.products {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    align-items: center;
}

.product {
    display: flex;
    flex-direction: column;
    flex: 1 0 32%;
    /* width: 32%; */
    height: 100%;
    /* margin: 10px; */
    /* justify-self: center; */
    align-items: center;
}

@media (max-width: 600px) {
    .product {
        flex: 1 0 calc(100% - 20px);
    }
}

.product-image {
    max-width: 100%;
    max-height: 100%;
    width: 350px;
    height: 300px;
    background-size: cover !important;
    background-position: center !important;
}

.product-description {
    /* all: initial; */
    display: flex !important;
    justify-content: space-between !important;
}

.name {
    /* max-width: 100%; */
    /* float: left; */
    margin-right: 200px;
}

.price {
    /* float: right; */
    /* padding-right: 100px */
}

.pagination {
    text-align: center;
}

.pagination a {
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
}